/* =================== icon flex style ============= */
.flex-icon-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #178f7f;
    padding: 13px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #eee;
}
.flex-icon-question h4{
    margin: 0;
}



/* ================= question content style ==================== */
.content-for-fre{
    background-color: #000;
    padding: 15px;
    border: 1px solid #eee;
}

.content-for-fre h5{
    color: #fff;
    line-height: 28px;

}

/* ====================== content icon ======================== */
.question-icon{
    font-size: 25px;
}