
body{
    background-color: #eee;
    font-family: 'Fredoka One', cursive;
}


.ejXxNI{
    background-color: #178f7f !important;
    box-shadow: 0 0 1px 2px #077566cc !important;
}

.cGKbZh:focus, .cGKbZh:hover{
    background-color: #178f7f !important;
    box-shadow: 0 0 2px 0 #333;
}